		<div class="formulario">	
			<form id="cadastrarInstituicao" method="post" action="#">
			<h3>Cadastrar Institui&ccedil;&atilde;o</h3>
			
			<h6>Dados Pessoais</h6>		  
			<label for="lblNome">Nome:</label>
			<input type="text" name="nome" id="nome">
			
			
			<label for="lblMunicipio">C&oacute;digo:</label>
            <input type="text" name="municipio" id="municipio">
			
			
			<label for="lblSituacao">Situa&ccedil;&atilde;o:</label>
			<select id="situacao" name="situacao">
				<option>Escolha uma op&ccedil;&atilde;o</option>
				<option>Ativo</option>
				<option>Inativo</option>
			</select>
			
			
			<label for="lblLocalizacao">Localiza&ccedil;&atilde;o:</label>
            <input type="text" name="localizacao" id="localizacao">
			
			
			<label for="lblDependencia">Depend&ecirc;ncia:</label>
			<select id="situacao" name="situacao">
				<option>Escolha uma op&ccedil;&atilde;o</option>
				<option>&Aacute;rea Interna</option>
				<option>&Aacute;rea Externa</option>
				<option>Pr&eacute;dio</option>
				<option>&Aacute;rea Pedag&oacute;gica</option>
			</select>
			
			
			<label for="lblEducacaoIndigena">Educa&ccedil;&atilde;o Ind&iacute;gena:</label>
			<input type="radio" name="lblSim" value="M" id="txtSim" checked="checked"><label for="lblSim">Sim</label>
			<input type="radio" name="lblNao" value="F" id="txtNao" class="display-inline" ><label for="lblNao">N&atilde;o</label>
			
			
			<label for="lblLongitude">Longitude:</label>
            <input type="text" name="longitude" id="longitude">
			
			
			<label for="lblLatitude">Latitude:</label>
            <input type="text" name="latitude" id="latitude">
			
			
			<label for="lblDatainicio">Data In&iacute;cio:</label>
            <input type="text" name="Datainicio" id="Datainicio">
			
			
			<label for="lblDatafim">Data Final:</label>
            <input type="text" name="Datafim" id="Datafim">
			
			
			<label for="lblAmbito">&Acirc;mbito:</label>
			<select id="Ambito" name="Ambito">
				<option>Escolha uma op&ccedil;&atilde;o</option>
				<option>Municipal</option>
				<option>Estadual</option>
				<option>Federal</option>
			</select>
			
			
			<h6> Endere&ccedil;o </h6>

			<label for="lblLogradouro">Logradouro:</label>
			<input type="text" name="lblLogradouro" id="txtLogradouro">
			
			
			<label for="lblNumero">N&uacute;mero:</label>
			<input type="text" name="lblNumero" id="txtNumero">
			
			
			<label for="lblCEP">CEP:</label>
			<input type="text" name="lblCEP" id="txtCEP">
			
			
			<label for="lblComplemento">Complemento:</label>
			<input type="text" name="lblComplemento" id="txtComplemento">
			
			
			<label for="lblBairro">Bairro:</label>
			<input type="text" name="lblBairro" id="txtBairro">
			
			
			<label for="lblUF"> UF: </label>
			<select id="ddlUF" name="lblUF">
				<option value="1">AC</option> 
				<option value="2">AL</option> 
				<option value="3">AP</option>
				<option value="4">AM</option> 
				<option value="5">BA</option> 
				<option value="6">CE</option>
				<option value="7">DF</option> 
				<option value="8">ES</option> 
				<option value="9">GO</option>
				<option value="10">MA</option> 
				<option value="11">MT</option> 
				<option value="12">MS</option>
				<option value="13">MG</option> 
				<option value="14">PA</option> 
				<option value="15">PB</option>
				<option value="16">PR</option> 
				<option value="17">PE</option> 
				<option value="18">PI</option>
				<option value="19">RJ</option> 
				<option value="20">RN</option> 
				<option value="21">RS</option>
				<option value="22">RO</option> 
				<option value="23">RR</option> 
				<option value="24">SC</option>
				<option value="25">SP</option> 
				<option value="26">SE</option> 
				<option value="27">TO</option>						
			</select>
			
			
			<label for="lblMunicipio">Munic&iacute;pio:</label>
			<input type="text" name="lblMunicipio" id="txtMunicipio">
			
			
			<label for="lblZona">Zona:</label>
			<input type="text" name="lblZona" id="txtZona">
			
			
			
			<h6>Contato </h6>
								
				<label for="lblTelefone">Telefone:</label>
				<input type="text" name="lblTelefone" id="txtTelefone">
								
				
								
				<label for="lblCelular">Celular:</label>
				<input type="text" name="lblCelular" id="txtCelular">
								
				
								
				<label for="lblEmail">E-mail:</label>
				<input type="text" name="lblEmail" id="txtEmail">
								
				
								
				<label for="lblOutros">Outros:</label>
				<input type="text" name="lblOutros" id="txtOutros">
				
				
				
			<input type="submit" id="btnVoltar" value="Voltar">
            <input type="submit" id="btnAlterar" value="Alterar">
            <input type="reset" id="btnLimpar" value="Limpar">
            <input type="submit" id="btnBuscar" value="Buscar">
            <input type="submit" id="btnDesativar" value="Desativar">
			<input type="submit" id="btnadadastrar" value="Cadastrar">
			</form>
		</div>
